@page "/"

<PageTitle>Blazor - Home</PageTitle>

<h1 id="index_h1">Welcome to my first ASP.NET website</h1>
<p>As a reward, enjoy some music below</p>
<div id="videoDiv">
    <iframe class="video" src="https://www.youtube.com/embed/j4xCb_OU_lM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/oNKxMkHavAw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/6nPhoAscZdI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/mUaAjEB3acg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>