@inherits LayoutComponentBase

<header>
    <div id="imgDiv">
        <img src="/img/aspnet.png" alt="ASP.NET Logotype" />
    </div>
</header>
<div id="container">
    <NavMenu />
    <main>
        @Body
    </main>
</div>
<footer>
    <p>By Anton Högström - Contact me at : <a href="mailto:antonhogstrom1994@gmail.com">antonhogstrom1994@gmail.com</a></p>
</footer>