<nav id="mainNav">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/Convertions">
                Convertions
            </NavLink>
        </li>
        <li>
            <NavLink href="/Json">
                JSON
            </NavLink>
        </li>
    </ul>
</nav>
